body{
    margin: 0px; 
    padding: 0px;
    background: #9796f0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container{
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;
    background: #acb6e5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.logo{
    width: 100%;
    float: left;
    background: #9796f0;
}
.left{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
    background: #fbc7d4;
}
.rigth{
    float: right;
    width: 30%;
    height: auto;
    border-radius: 24px;
    background-color: #fbc7d4;
}
.left-button{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
    background: #9796f0;
}
.logoImg{
    margin-top: 1%;
    margin-left: 5%;
    float: inherit;
}
.title{
    float: inherit;
    margin-left: 20%;
}
.text-input{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: #0a3071;
    font-size: 20px;
    border: none;
    outline: none;
    
}